    
      * {
        width: 100%;
        margin: 0;
        font-family: Montserrat, sans-serif;
        overflow-x: hidden;
      }
      #container {
        width: 100%;
        height: 450px;
        height: auto;
        position: relative;

        background-image: url(./images/img1.jpg);

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        transition: 2s;

        animation-name: animate;
        animation-direction: alternate-reverse;
        animation-duration: 18s;
        animation-fill-mode: forwards;
        animation-play-state: running;
        animation-iteration-count: infinite;
        /* animation-play-state: running; */
        animation-timing-function: ease-in-out;
        overflow: hidden;
      }

      @keyframes animate {
        0% {
          background-image: url(./images/img2.jpg);
        }
        50% {
          background-image: url(./images/img3.jpg);
        }
        100% {
          background-image: url(./images/img1.jpg);
        }
      }

      #image {
        /* border: 1px solid black; */
        height: 600px;
        overflow: hidden;
      }
      #image img {
        width: 100%;
        height: 100%;
        /* transition-duration: 1s; */
      }

      #fw13Nav.active {
        color: black;
        background-color: white;
        /* background: white; */
        visibility: visible;
        opacity: 1;
        transition: 0.5s;
      }

      #fw13Nav {
        height: 87px;
        /* position: absolute; */
        position: fixed;
        margin-top: -610px;
        align-content: center;
        /* border: 1px solid red; */
        color: white;
        /* background-color: red; */
      }

      .nav {
        /* border: 2px solid red; */
        display: flex;
        justify-content: center;
        height: auto;
        position: fixed;
        margin-top: 15px;
        align-items: center;
      }

      .nav-child {
        /* border: 1px solid black; */
        width: auto;
        margin-left: 100px;
        height: auto;
        font-weight: 600;
        font-size: 18px;
      }
      .nav-child:hover {
        color: orange;
        cursor: pointer;
      }
      #logoONN {
        width: 60px;
        height: 60px;
        border-radius: 10px;
      }
      #logo {
        margin-left: 40px;
      }
      #faq {
        margin-left: 40px;
        /* text-decoration: none; */
      }
      #why {
        margin-left: -10px;
      }
      #safety {
        margin-left: 100px;
      }
      .newDiv {
        border: 2px solid purple;
        height: 500px;
      }
      #banner {
        /* border: 3px solid black; */
        width: auto;
        height: auto;
        position: absolute;
        margin-top: -25%;
        /* margin-left: 10%; */
        right: 20%;
        /* margin: auto; */
        font-size: 40px;
        color: white;
      }
      #banner h2 {
        text-align: center;
      }
      #banner p {
        text-align: center;
        font-size: 30px;
      }
      #ridenow-sac {
        /* border: 1px solid red; */
        position: absolute;
        width: 100%;
        margin-top: -16%;
        /* overflow: hidden; */
      }
      #under-rideNow {
        /* border: 1px solid black; */
        width: auto;
        height: 55px;
        display: flex;
        justify-content: center;
        overflow: auto;
      }
      #under-rideNow div {
        /* border: 1px solid black; */
        text-align: center;
        width: 200px;
        /* align-items: center; */
      }
      #TheBangaluru {
        color: rgb(30, 45, 81);
        background-color: white;
        padding-top: 1.2%;
        font-weight: 550;
      }

      #hourTime {
        color: rgb(30, 45, 81);
        background-color: white;
        padding-top: 1.2%;
        font-weight: 550;
      }
      #Ridehour {
        color: rgb(30, 45, 81);
        font-weight: lighter;
        background-color: white;
        padding-top: 1.2%;
      }
      #Endride {
        color: rgb(30, 45, 81);
        font-weight: lighter;
        background-color: white;
        padding-top: 1.2%;
      }
      #realRidenow {
        background-color: rgb(30, 45, 81);
        color: white;
        padding-top: 0.9%;
        font-size: 26px;
      }

      .Dark {
        /* background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7),),white ; */
        filter: brightness(20%);
        user-select: none;
        pointer-events: none;
        transition: -4s;
        /* overflow: ; */
      }
      #TheDestinyChose {
        position: absolute;
        /* border: 1px solid red; */
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: -575px;
          visibility: hidden;
          opacity: 0;
      }
      #TheDestinyChose.Dark123{
        visibility: visible;
          opacity: 1;
      }
      #belowTheDestinyChose {
        background-color: white;
        width: 1000px;
        height: 620px;
        margin: 0;
        border-radius: 10px;
        display: flex;
        

      }




#ThecityDetail{
width: 50%;
overflow: hidden;
}
#TheCityList{
  overflow: hidden;
  border: 1px solid #ACA9A9;
  width: 50%;
display: grid;
padding: 10px;
grid-template-columns: 50% 50%;
/* overflow: ; */
}
#TheCityList div{
  border: 1px solid #ACA9A9;
  height: 150px;
  /* padding: 10px; */
  /* margin-left: ; */
}
#TheCityList div img{
  /* border: 1px solid blue; */
  width: 60%;
  height: 80%;
  margin-left: 18%;
}
#TheCityList div h5{
  color: #ACA9A9;
  text-align: center;
  font-weight: lighter;
  /* position: absolute; */
}
#ThecityDetail input{
  border: 1px solid #ACA9A9;
  margin-top: 20px;
  width: 250px;
}

#someTextabout{
  margin-top: 50%;
  margin-left: 5px;
}
#someTextabout h2{
  font-size: 50px;
  font-weight: lighter;

}
#Endride{
    display: flex;
    justify-content: center;
    text-align: end;
}
#Endride input{
    border: 1px solid white;
    color: rgb(30, 45, 81);

    text-transform: uppercase;
/* display: none; */
    /* width: 45px; */
    /* text-align: end; */

}
#Ridehour{
    display: flex;
    justify-content: center;
    text-align: end;
}
#Ridehour input{
    border: 1px solid white;
    text-transform: uppercase;
    color: rgb(30, 45, 81);

}
 /* fleet and pricing */

 #main{
            
            position: fixed;
  display: grid;
  grid-template-columns: 250px 1100px;
  width: 90%;
  /* height: 450px; */
  margin:8% auto 10px;
  margin-left:5%;
  grid-column-gap: 10px;
  border: 1px solid #000;
  margin-top: -550px;
  visibility: hidden;
  opacity: 0;
}
#main.Dark123{

visibility: visible;
opacity: 1;

}
 .boxes1{
 
  margin-top: 2px;
  margin-bottom: 2px;
  /* width: 200px; */
  height:450px;
  border: 1px solid #000;
} 
 .boxes2{
 
  margin-top: 2px;
  margin-bottom: 2px;
  width: 100%;
  height:450px;
  border: 1px solid #000;
} 
#sec{
  width: 100%; 
  height:50px;
  background-color: #2d3b55;
  color: #fff;
}
option{
 text-transform: uppercase;
 justify-content: center;
 align-items: center;
 text-align: center;
 font-size: 20px;
}
#lshow li{
 margin-left: 10px;
 margin-top: 10px;
 font-size: 18px;
}
li{
  text-transform: uppercase;
}


#slidercont {
  text-align: center;
  width: 100%;
  /* margin-left: 1%; */
  /* margin-top: 1%; */
  display: inline-block;
  /* background:
  url("//cdn.shopify.com/s/files/1/0390/2985/files/bestsellers_BG_5178572b-64e9-4dd1-aef8-15a83f4f332d.jpg?v=1620197136"); */
  /* background-color: rgb(129, 128, 128); */
}
.slider {
  width: 80%;
  height: 450px;
  position: relative;
  margin: auto;
  overflow-x: hidden;

}

.slider::-webkit-scrollbar {
  display: none;
}

.slider .slide {
  /* border: 1px solid red; */
  margin-top: 2%;
width: auto;
  display: flex;
  gap: 50px;
  justify-content: space-around;
  position: absolute;
  left: 0;
  transition: 0.4s left ease-in-out;
  overflow: hidden;
}

.slider .item {
  margin-right: 10px;
}

.slider .item:last-child {
  margin-right: 0;
}

.ctrl {
  text-align: center;
  margin-top: 5px;
}

.ctrl-btn {
  width: 40px;
  height: 40px;
  background: #60298b;
  color: white;
  border-radius: 50%;
  border: none;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 50%;
  margin-top: -27.5px;
}

.ctrl-btn.pro-prev {
  left: 0;
}
.pro-prev:hover {
  background-color: white;
  color: purple;
}
.pro-next:hover {
  background-color: white;
  color: purple;
}
.ctrl-btn.pro-next {
  right: 0;
}
/* .slider {
  width: 80%;
} */
#slidercontheading {
  color: #60298b;
  font-size: 50px;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  font-family: "Roboto Slab", serif;
}
#slidercontviewbtn {
  color: #60298b;
  width: 200px;
  height: 50px;
  background-color: white;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 3%;
  border-radius: 8px;
  margin-left: 5%;
}
#slidercontviewbtn a {
  text-decoration: none;
  color:#60298b;
}

#slidercontviewbtn:hover {
  background-color: #60298b;
}
#slidercontviewbtn a:hover{
  color: white;
}
/* sliderCss */
#maindiv {
  width: 260px;
  /* width: 70%; */
  height: 390px;
  background-color: white;
  border-radius: 11px;
  font-family: "Segoe UI";
  overflow: hidden;
}
#div1 {
  width: 92%;
  height: 140px;
  padding-left: 10px;
}
#maindiv > img {
  width: 150px;
  padding-left: 60px;
  padding-top: 15px;
  margin-bottom: 10px;
}

#imgdiv {
padding-left: 5px;
margin-bottom: 10px;
overflow: hidden;
}
#maindiv:hover {
/* -ms-transform: scale(2.2); IE 9 */
/* -webkit-transform: scale(2.2); Safari 3-8 */
transform: scale(1.1); 
z-index: 1;
}  

#imgdiv img {
transition: transform 0.2s ease;
}
#maindiv button:hover {
background-color: rgb(152, 10, 235);
}


#gotoproductskin {
cursor: pointer;
}
#gotoproducthair {
cursor: pointer;
}
#register {
cursor: pointer;
}

.areeOoSambha{
  /* position: absolute; */
  color: #ACA9A9;
  /* margin- */
  /* margin-left: 200px; */
}
#GabbarSing{
  position: absolute;
  margin-left: 60%;
 /* margin-top: -350px; */
 color: #ACA9A9;
}